PORT=3000
DATABASE_URL=postgres://postgres:postgres@localhost:5432/lawyersathi
VECTOR_PROVIDER=pinecone

# Pinecone
PINECONE_API_KEY=pcsk_59DfLJ_N4DavRkzBNXot5VL5LnDL4AtU8v4tbfFqXPZvkCj5tytyKvhRxrDB2rv6FgFmat
PINECONE_INDEX=lawyersathi
PINECONE_NAMESPACE=lawyersathi

# Weaviate
WEAVIATE_URL=
WEAVIATE_API_KEY=
WEAVIATE_CLASS=LegalChunk